/* You can add global styles to this file, and also import other style files */
body{
  background:linear-gradient(rgba(38, 38, 39, 0.308),rgba(82, 83, 82, 0.377)100%),url('../src/app/pages/home/fundo.png') !important;
  background-repeat: repeat;
  color: azure;
}

.btn-grad1 {background-image: linear-gradient(to right, #518fb3 0%, #b943b9  51%, #ff2fff  100%)}
.btn-grad1 {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad1:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 .wrapper{
  margin-top: 50px;
}
.wrapperdown{
  margin-bottom: 25px;
}
.wrapperBottonName{
  margin-top: 150px;
}
.center{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

