<div class="container wrapper center" >
  <div class="feature col">
    <div class="feature-icon bg-dark bg-gradient">
    </div>
    <h2 style="text-align: center;">Pagina de gerenciamento de pets</h2>
    <p style="text-align: center;  margin-top: 35px;">Lista todos os pets cadastados no sistema.</p>
    <div class="d-grid gap-2 col-5 mx-auto">
      <button class="btn-grad1" type="button" routerLink="/pets/lista"> Listar Pets </button>
    </div>
  </div>
  <div class="feature col">
    <div class="feature-icon bg-dark bg-gradient">
    </div>
    <p style="text-align: center; margin-top: 35px;">Cadastra um novo pet</p>
    <div class="d-grid gap-2 col-5 mx-auto">
      <button class="btn-grad1" type="button" routerLink="/pets/cadastro"> Cadastrar Pets </button>
    </div>
  </div>
  <div class="btn-group d-grid col-2 mx-auto wrapper wrapperdown" role="group">
    <button class="btn btn-secondary" type="button" routerLink=""> <i class="fa-solid fa-angle-left"></i> Voltar </button>
  </div>
</div>
