<img class="img" src="assets\Logo_petshop.png" alt="Logo Site" style="width:50%;height:350px;border-radius: 10px; margin-left: 25%; margin-right: 25%; margin-top: 5px;">
<div class="container wrapper center" >
    <div class="feature col">
      <div class="feature-icon bg-dark bg-gradient">
      </div>
      <h2 style="text-align: center;">Listar todos os clientes</h2>
      <p style="text-align: center;">Lista todos os clientes cadastados no sistema.</p>
      <div class="d-grid gap-2 col-5 mx-auto">
        <button class="btn-grad1" type="button" routerLink="/clientes/lista"> Listar Clientes </button>
      </div>
    </div>
</div>
