<div class="container wrapper center" >
    <div class="feature col clientes">
      <div class="feature-icon bg-dark bg-gradient">
      </div>
      <h2>Clientes</h2>
      <p>Lista de opções voltadas ao gerenciamento e registro de clientes. Aqui podem ser encontradas funções como criar e deletar um cliente.</p>
      <div class="d-grid gap-2 col-5 mx-auto">
        <button class="btn-grad1" type="button" routerLink="/clientes">Clientes</button>
      </div>
    </div>
    <div class="feature col wrapper pets">
      <div class="feature-icon bg-dark bg-gradient">
      </div>
      <h2>Pets</h2>
      <p>Lista de opções voltadas para o gerenciamento de pets. Aqui podem ser encontradas funções como criar e deletar um pet.</p>
      <div class="d-grid gap-2 col-5 mx-auto">
        <button class="btn-grad1" type="button"> Pets </button>
      </div>
    </div>
</div>
<div class="container wrapperBottonName">
  <h4>Pet shop controller por: Douglas Luiz</h4>
</div>

