.img-logo{
  width:50%;
  height:350px;
  border-radius: 10px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5px;
}
h2{
  color: azure;
  margin-top: 20px;
  text-align: center;
}
p{
  color: azure;
  margin-top: 60px;
  text-align: center;
}

.clientes{
  background:linear-gradient(rgba(0, 0, 0, 0.664),rgba(0, 0, 0, 0.603)100%),url('homeAssets/Clientes.jpg');
  width: 700px;
  height: 300px;
  border-radius: 30px;

}

.pets{
  background:linear-gradient(rgba(0, 0, 0, 0.664),rgba(0, 0, 0, 0.603)100%),url('homeAssets/pets_ajustado.jpg');
  width: 700px;
  height: 300px;
  border-radius: 30px;

}

